body {
  background-color: rgb(255, 255, 255);
}

ul {
  background-color: rgb(0, 0, 0);
  list-style: none;
  padding: 0;
}

nav ul {
  display: flex;
}

nav>ul>li {
  flex-grow: 1;
  position: relative;
}

nav ul a {
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial;
  color: rgb(255, 255, 255);
}

ul ul {
  position: absolute;
  background-color: rgb(231, 155, 14);
  width: 100%;
  display: none;
}

.center {
  display: flex;
  display: block;
}

ul ul li {
  background-color: rgb(70, 70, 70);
}

nav li:hover {
  background-color: rgb(240, 123, 13);
}

ul li:hover ul {
  display: block;
}

.col-lg-4 {
  text-align: center;
}

div h3 p {
  padding: 50px;
  text-align: center;
}

div p {
  padding: 3px;
  text-align: center;
}

.center {
  text-align: center;
}

.end {
  text-align: end;
  list-style: none;
  text-decoration: none
}

.space-evenly {
  justify-content: space-evenly;
}

section {
  display: flex;
  padding: 10px;
  color: #000;
}

.white {
  color: rgb(253, 253, 253);
}

div .white img {
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.vertical {
  background-color: black;
}

h3 {
  text-align: center;
}

footer {
  background-color: rgb(0, 0, 0);
  color: rgb(224, 14, 14);

}

footer ul {
  text-align: center;
}

footer ul li {
  padding: 2px;
}

footer ul li a {
  color: white;
}

.space-around {
  justify-content: space-around;
  padding: 30px;
  list-style: none;
  text-align: center;

}

/*Contactos*/
.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #f60303;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #f20000;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #01043f;
  border-color: #fa9703;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}


button p {
  color: #fff;
}


span {
  color: #ab4493;
}


.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.row {
  padding: 3px;
}

/*Animaciones*/
.chicle:hover {
  animation: chicle 1s 1;
}

/*tabla*/
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 4px solid #ddd;
  padding: 10px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #033977;
  color: white;
}

@keyframes chicle {
  30% {
    transform: scaleX(1.25) scaleY(0.75);
  }

  50% {
    transform: scaleX(0.75) scaleY(1.25);
  }

  60% {
    transform: scaleX(1.15) scaleY(0.85);
  }
}

.click:hover {
  animation: click 0.5s 1;
}

@keyframes click {

  25%,
  75% {
    transform: scale(0.8)
  }

  50% {
    transform: scale(1.1)
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 676px) {
  nav {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  nav ul a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial;
    color: white;
  }

  .medio {
    text-align: center;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  .space-around {
    background-color: black;
    justify-content: space-around;
  }

  .vertical {
    flex-direction: column;
  }

  nav {
    display: block;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  nav ul a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  .space-around {
    background-color: black;
    justify-content: space-around;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 792px) {
  nav>ul {
    display: flex;
  }

  nav>ul>li {
    flex-grow: 1;
    position: relative;
  }

  ul ul li {
    background-color: rgb(70, 70, 70);
  }



  ul li:hover ul {
    display: block;
  }

  .row {
    padding: 3px;
  }

  .space-around {
    background-color: black;
    justify-content: space-around;
  }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
  nav>ul {
    display: flex;
  }

  nav>ul>li {
    flex-grow: 1;
    position: relative;
  }

  ul ul li {
    background-color: rgb(70, 70, 70);
  }



  ul li:hover ul {
    display: block;
  }

  .row {
    padding: 3px;
  }

  .space-around {
    background-color: black;
    justify-content: space-around;
  }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (max-width: 1400px) {
  nav>ul {
    display: flex;
  }

  nav>ul>li {
    flex-grow: 1;
    position: relative;
  }

  ul ul li {
    background-color: rgb(70, 70, 70);
  }



  ul li:hover ul {
    display: block;
  }

  .row {
    padding: 3px;
  }

  .space-around {
    background-color: black;
    justify-content: space-around;
  }
}