:root {
    --titulos: blue;
    --subtitulos: red;
    --borde: 2px solid red;
  }
  
  body {
    background-color: aqua;
  }
  
  ul {
    background-color: rgb(8, 3, 78);
    list-style: none;
    padding: 0;
      position: absolute;
      background-color: rgb(231, 155, 14);
      width: 100%;
      display: none;
      li {
        background-color: rgb(70, 70, 70);
      }
    }
    
  
  
  nav>ul {
    display: flex;
    li {
      flex-grow: 1;
      position: relative;
    
    }
    a {
      display: block;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-family: Arial;
      color: rgb(255, 255, 255);
    }
    li:hover {
      background-color: rgb(240, 123, 13);
    }
    ul {
      display: block;
    }
  }
  
  
  
  
  
  
  
  .center {
    display: flex;
    display: block;
    
      text-align: center;
    
  }
  
  
  
  
  
  
  
  .col-lg-4 {
    text-align: center;
  }
  
  
  
  
  .space-evenly {
    justify-content: space-evenly;
  }
  
  section {
    display: flex;
    padding: 10px;
    color: #000;
  }
  
  .white {
    color: white;
  }
  
  div .white img {
    align-items: center;
  }
  
  .space-around {
    justify-content: space-around;
  }
  
  .vertical {
    background-color: black;
  }
  
  h3 {
    text-align: center;
  }
  
  footer {
    background-color: rgb(246, 16, 16);
    color: rgb(255, 253, 253);
    ul {
      text-align: center;
    }
  }
  
  
  .space-around {
    padding: 30px;
    list-style: none;
    text-align: center;
     justify-content: space-around;
  }
  
  body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }
  :root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
  
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }
  body{
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    background-color: #ab4493; 
  }
  
  
  .contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #ab4493; 
    border-color: #ab4493; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #ab4493; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #ab4493;
  }
  
  
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  .chicle:hover{
    animation: chicle 1s 1;
  }
  @keyframes chicle{
    30% {
      transform: scaleX(1.25) scaleY(0.75);
    }
    50% {
      transform: scaleX(0.75) scaleY(1.25);
    }
    60% {
      transform: scaleX(1.15) scaleY(0.85);
    }  
  }
  .click:hover{
    animation: click 0.5s 1;
  }
  @keyframes click{
    25%,75%{
      transform: scale(0.8)
    }
    50%{
      transform: scale(1.1)
    }
  }
  /*phones*/
  @media (max-width: 675px) {
    nav {
      display: block;
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
      ul {
        display: flex;
        flex-direction: column;
      }
    }
  
    .space-around {
      background-color: black;
      justify-content: space-around;
    }
  
    .vertical {
      flex-direction: column;
    }
  
  }
  
  @media screen and (max-width: 999px) {
    nav ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: Arial;
        color: white;
      }
    }
  
    
  
    ul {
      display: block;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
    }
  
    .space-around {
      background-color: black;
      justify-content: space-around;
    }
  
  }
  
  
  /*desktops*/
  @media (min-width: 1000px) {
    ul {
      background-color: rgb(8, 3, 78);
      list-style: none;
      padding: 0;
    }
  
    nav>ul {
      display: flex;
      li {
        flex-grow: 1;
        position: relative;
    
      }
      a {
        display: block;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Arial;
        color: white;
      }
      li:hover {
        background-color: rgb(240, 123, 13);
      }
    }
  
    ul ul {
      position: absolute;
      background-color: rgb(231, 155, 14);
      width: 100%;
      display: none;
      li {
        background-color: rgb(70, 70, 70);
      }
      li:hover ul {
        display: block;
      }
    }
  
    .space-around {
      background-color: black;
      justify-content: space-around;
    }
  }
  
  //main.css
  /* base */
  @import "base/reset";
  @import "base/typography";
  
  /* componentes */
  @import "components/buttons";
  @import "components/div";
  @import "components/drupdown";